.main__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__mascotBlock {
    position: relative;
}

.main__mascotBlock_text {
    width: 311px;
    min-height: 295px;
    padding: 20px;
    background-color: #66BEEC;
    border-radius: 25px;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: white;
}

.main__mascotBlock_poligon {
    position: absolute;
    top: 295px;
    left: 140px;
}

.main__mascotBlock_mascot {
    position: absolute;
    top: 225px;
    left: 0px;
}

.main__tableBlock {
    width: 810px;
    min-height: 414px;
    margin-left: 18px;
}

.main__table {
    width: 100%;
    border-spacing: 0;
}

td {
    border: #80BA27 2px solid;
}

thead {
    background-color: #80BA27;
    color: white;
    font-size: 14px;
    line-height: 18px;
    border: #80BA27 4px solid;
}

thead th:nth-child(1) {
    padding: 30px;
    width: 7%;
    border-top-left-radius: 20px;
    border-right: white 1px solid;
}

thead th:nth-child(2) {
    width: 59%;
    padding: 15px 0 15px 20px;
    text-align: left;
    border-right: white 1px solid;
    border-left: white 1px solid;
}

thead th:nth-child(3) {
    width: 11%;
    padding: 15px 0;
    text-align: center;
    border-right: white 1px solid;
    border-left: white 1px solid;
}

thead th:nth-child(4) {
    width: 11%;
    padding: 15px 0;
    text-align: center;
    border-right: white 1px solid;
    border-left: white 1px solid;
}

thead th:nth-child(5) {
    width: 11%;
    padding: 15px 0;
    text-align: center;
    border-left: white 1px solid;
    border-top-right-radius: 20px;
}

tbody {
    line-height: 26px;
}

tbody tr:nth-child(2n) {
    background-color: #EEEEEE;
}

tbody td:nth-child(1) {
    padding: 20px;
    width: 7%;
    border-left: #80BA27 3px solid;
}

tbody td:nth-child(2) {
    width: 59%;
    padding: 15px 0 15px 20px;
    text-align: left;
    line-height: 30px;
}

tbody td:nth-child(3) {
    width: 11%;
    padding: 15px 0;
    text-align: center;
}

tbody td:nth-child(4) {
    width: 11%;
    padding: 15px 0;
    text-align: center;
}

tbody td:nth-child(5) {
    width: 11%;
    padding: 15px 0;
    text-align: center;
    border-right: #80BA27 3px solid;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
    border-bottom: #80BA27 3px solid;
}
tbody tr:last-child td:nth-child(2) {
    border-bottom: #80BA27 3px solid;
}

tbody tr:last-child td:nth-child(3) {
    border-bottom: #80BA27 3px solid;
}
tbody tr:last-child td:nth-child(4) {
    border-bottom: #80BA27 3px solid;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
    border-bottom: #80BA27 3px solid;
}

.main__progressBar {
    display: flex;
    width: 100%;
    padding: 8px 0;
}

.main__progressBar_counter {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #80BA27;
}

.main__progressBar_text {
    margin-left: auto;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #80BA27;
}

@media screen and (max-width: 1160px) {

    .main__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main__tableBlock {
        margin-top: 100px;
    }
}

@media screen and (max-width: 960px) {

    .main__tableBlock {
        margin-top: 100px;
        font-size: 14px;
        width: 500px;
    }

    thead th:nth-child(1) {
        width: 5%;
    }

    thead th:nth-child(2) {
        width: 35%;
    }

    thead th:nth-child(3) {
        width: 20%;
    }

    thead th:nth-child(4) {
        width: 20%;
    }

    thead th:nth-child(5) {
        width: 20%;
    }

    tbody td:nth-child(1) {
        padding: 20px;
        width: 5%;
    }

    tbody td:nth-child(2) {
        width: 35%;
        padding: 15px 0 15px 20px;
        text-align: left;
        line-height: 30px;
    }

    tbody td:nth-child(3) {
        width: 20%;
        padding: 15px 0;
        text-align: center;
    }

    tbody td:nth-child(4) {
        width: 20%;
        padding: 15px 0;
        text-align: center;
    }

    tbody td:nth-child(5) {
        width: 20%;
        padding: 15px 0;
        text-align: center;
    }

    .main__progressBar_img {
        width: 100%;
    }
}

@media screen and (max-width: 960px) {

    .main__tableBlock {
        font-size: 14px;
        width: 340px;
        margin: 100px auto;
    }

    .main__table_row td {
        border-bottom: none;
    }

    thead th:nth-child(1) {
        width: 5%;
        margin: 0;
        padding: 2px;
    }

    thead th:nth-child(2) {
        width: 35%;
        margin: 0;
        padding: 2px;
    }

    thead th:nth-child(3) {
        width: 20%;
        margin: 0;
        padding: 2px;
    }

    thead th:nth-child(4) {
        width: 20%;
        margin: 0;
        padding: 2px;
    }

    thead th:nth-child(5) {
        width: 20%;
        margin: 0;
        padding: 2px;
    }

    tbody td:nth-child(1) {
        margin: 0;
        padding: 2px;
        width: 5%;
    }

    tbody td:nth-child(2) {
        width: 35%;
        margin: 0;
        padding: 2px;
    }

    tbody td:nth-child(3) {
        width: 20%;
        margin: 0;
        padding: 2px;
    }

    tbody td:nth-child(4) {
        width: 20%;
        margin: 0;
        padding: 2px;
    }

    tbody td:nth-child(5) {
        width: 20%;
        margin: 0;
        padding: 2px;
        border-bottom: #80BA27 2px solid;
    }
}